name: Typos Check
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  run:
    name: Spellcheck
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - name: Check spelling
        uses: crate-ci/typos@v1.43.5
        with:
          config: .typos.toml
